<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 所有权限 -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".ZakoCountdownApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZakoCountdown"
        tools:targetApi="31">
        <!-- 专门为小米手机桌面卸载添加了提示，提升用户体验 -->
        <meta-data
            android:name="app_description_title"
            android:resource="@string/sbui_uninstall_title" />
        <meta-data
            android:name="app_description_content"
            android:resource="@string/sbui_uninstall_content" />
        <!-- Activities -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="errorsiayusulif" android:host="zakocountdown" />
            </intent-filter>
            <!--  ↑↑↑  为Deep Link添加新的 intent-filter  ↑↑↑ -->
        </activity>
        <activity
            android:name=".ui.popup.PopupReminderActivity"
            android:exported="false"
            android:launchMode="singleInstance"
            android:theme="@style/Theme.ZakoCountdown.Popup" />
        <activity
            android:name=".widget.WidgetConfigureActivity"
            android:exported="true"> <!-- 确保 exported 为 true -->
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- Services -->
        <service
            android:name=".services.CountdownService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name=".services.AppOpenDetectorService"
            android:exported="false"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service android:name=".services.PopupViewService" />

        <!-- Receivers -->
        <receiver
            android:name=".receiver.SecretCodeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data android:scheme="android_secret_code" android:host="20160627" />
                <data android:scheme="android_secret_code" android:host="20220238" />
                <data android:scheme="android_secret_code" android:host="20250528" />
                <data android:scheme="android_secret_code" android:host="63572202" /> <!-- Log Reader -->
                <data android:scheme="android_secret_code" android:host="6357921606" /> <!-- Toggle Dev Mode -->
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.ZakoWidgetProvider"
            android:exported="false">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/appwidget_info" />
        </receiver>
        <receiver android:name=".widget.WidgetUpdateReceiver" android:exported="false">
            <intent-filter>
                <action android:name="com.errorsiayusulif.zakocountdown.ACTION_UPDATE_WIDGET"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".receiver.BootCompletedReceiver" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <!-- ↓↓↓ 新增 FileProvider 配置 ↓↓↓ -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>